.favItm li{
	list-style: none;
    width: 20%;
	position: relative;
	margin: 10px;
}
.favItm ul {
	display:flex;
}
.favItm li .aTag {
	    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
}
.favItm li .aTag img {
	    width: auto;
    height: 166px;
    object-fit: contain;
}
.favItm li .aTag p {
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 400;
    color: black;
    margin: 0px;
}
.aTag .add-to-wishlist-button {
	top: 0px;
    margin: 0px;
}